/*IMAGENES*/

//INDEX//

main {
    
    background-image:url("../assets/business-man-5443436_1920.jpg");
    
}

//QUIENES SOMOS//

.imgEquipo{
    margin: 10px;
    border:solid grey 2px;
    text-align: center;
    
}